@import '../common.scss';
@import '../mixin.scss';

.user-orders{
    padding-bottom: 0;
    .order-main{
        .order-item{
            .order-content{
                display: flex;
                padding: 20px 0;

                .img-box{
                    @extend .lazy-load;
                    width: 90px;
                    height: 90px;
                    .order-image{
                        width: 100%;
                        height: 100%;
                    }
                }

                .order-info{
                    height: 90px;
                    width: 325px;
                    position: relative;
                    .info-content{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        .title{
                            margin: 10px 0 10px 15px;

                            a{
                                font-size: $largeFontSize;
                                color: $darkerFontColor;
                            }

                        }

                        .infos{
                            font-size: $miniFontSize;
                            color: $lightFontColor;
                            margin-left: 15px;
                            height: 18px;
                        }
                    }
                }

                .price{
                    width: 200px;
                    font-size: $miniFontSize;
                    line-height: 90px;
                    text-align: center;
                    color: $lightFontColor;
                }

                .statu{
                    @extend .price;
                    width: 100px;
                }
            }
        }
    }
}
